/*====================== variables ======================*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
:root {
  --res-width: calc(100vw/1440);
  --res-height: calc(100vh/1024);
}

@keyframes focused {
  0% {
    outline-color: #D3573C;
    outline-offset: 2px;
  }
  50% {
    outline-offset: 7px;
    outline-color: #901C1C;
  }
  100% {
    outline-color: #D3573C;
    outline-offset: 2px;
  }
}
/*|||||||||||||||||||||| BASE ||||||||||||||||||||||*/
/*====================== typography ======================*/ /*====================== reset ======================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: #FFF;
  width: 100vw;
  overflow-x: hidden;
}
body.no-scroll, body.no-scroll main {
  overflow: hidden;
}

a {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  color: inherit;
  text-decoration: none;
}

*:focus {
  animation: focused 1s linear infinite;
}

/*|||||||||||||||||||||| COMPONENTS ||||||||||||||||||||||*/
.btn {
  font-size: calc(var(--res-width) * 20 * var(--ratio-size));
  font-weight: 700;
  color: #FFF;
  width: calc(var(--res-width) * 11 * var(--ratio-width));
  width: calc(var(--res-width) * 170 * var(--ratio-width));
  height: calc(var(--res-width) * 70 * var(--ratio-width));
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.btn:hover {
  box-shadow: rgba(144, 28, 28, 0.4) 0 1px, rgba(211, 87, 60, 0.4) 0 5px;
}

.select {
  transition: box-shadow 0.5s;
}
.select:hover {
  box-shadow: rgba(144, 28, 28, 0.4) 0 1px, rgba(211, 87, 60, 0.4) 0 5px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--res-width) * 269 * var(--ratio-width));
  height: calc(var(--res-width) * 69 * var(--ratio-width));
}
.dropdown::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: calc(var(--res-width) * 29.5 * var(--ratio-width));
  right: calc(var(--res-width) * 18 * var(--ratio-width));
  width: calc(var(--res-width) * 8 * var(--ratio-width));
  height: calc(var(--res-width) * 8 * var(--ratio-width));
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  transform: rotate(-225deg);
  transition: 0.5s;
}
.dropdown.is-open::after {
  top: calc(var(--res-width) * 29 * var(--ratio-width));
  right: calc(var(--res-width) * 18 * var(--ratio-width));
  transform: rotate(-45deg);
}
.dropdown button {
  cursor: pointer;
  font-size: calc(var(--res-width) * 18 * var(--ratio-size));
  font-weight: 700;
  line-height: calc(var(--res-width) * 23 * var(--ratio-width));
  padding: calc(var(--res-width) * 14 * var(--ratio-width)) calc(var(--res-width) * 10 * var(--ratio-width));
  text-align: left;
  border: 0;
}

.select-label {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--res-width) * 18 * var(--ratio-size));
  width: calc(var(--res-width) * 74 * var(--ratio-width));
  line-height: calc(var(--res-width) * 23 * var(--ratio-width));
  font-weight: 700;
  text-align: center;
}

.select {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #901C1C;
  display: none;
  align-items: center;
  color: #FFF;
  min-height: calc(var(--res-width) * 69 * var(--ratio-width));
  width: calc(var(--res-width) * 170 * var(--ratio-width));
  padding: calc(var(--res-width) * 10 * var(--ratio-width));
  border-radius: 5px;
  z-index: 1;
}
.select button {
  cursor: pointer;
  color: #FFF;
  background-color: transparent;
  border: 0;
}
.select[aria-expanded=true] {
  display: block;
}

.current-option {
  width: calc(var(--res-width) * 170 * var(--ratio-width));
  height: 100%;
  color: #FFF;
  background-color: #901C1C;
  padding-left: calc(var(--res-width) * 20 * var(--ratio-width));
  border-radius: 5px;
  transition: box-shadow 0.5s;
}
.current-option:hover {
  box-shadow: rgba(144, 28, 28, 0.4) 0 1px, rgba(211, 87, 60, 0.4) 0 5px;
}

.option {
  width: 100%;
}
.option:nth-child(n+2) {
  border-top: 1px solid #FFF;
}

.option:hover, .option:focus {
  font-weight: 900;
  outline: none;
  text-decoration: underline;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(var(--res-width) * 350 * var(--ratio-width));
  height: calc(var(--res-width) * 350 * var(--ratio-width));
}
.card-header {
  position: relative;
  width: 100%;
  height: 85.71%;
  border-radius: 5px;
}
.card-header img, .card-header video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.card-header img:hover, .card-header video:hover {
  box-shadow: rgba(144, 28, 28, 0.4) 0px 0px 0px 3px, rgba(144, 28, 28, 0.65) 0px 6px 8px -2px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.card-header video::-webkit-media-controls {
  display: none;
}
.card-header.video {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
}
.card-header.video::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 34px solid rgba(255, 255, 255, 0.7);
  top: 42.85%;
  left: 42.85%;
}
.card-details {
  height: 3.47vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  font-size: calc(var(--res-width) * 24 * var(--ratio-size));
}
.card-details__title {
  font-size: calc(var(--res-width) * 24 * var(--ratio-size));
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}
.card-details__likes {
  font-size: calc(var(--res-width) * 20 * var(--ratio-size));
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  transition: all 0.7s;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: calc(var(--res-width) * 26 * var(--ratio-width));
}
.card-details__likes:before, .card-details__likes:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: calc(var(--res-width) * 12 * var(--ratio-width));
  height: calc(var(--res-width) * 19.2 * var(--ratio-width));
  background: #901C1C;
  border-radius: 100% 100% 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.card-details__likes:after {
  right: calc(var(--res-width) * 12 * var(--ratio-width));
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.card-details__likes.is-liked {
  color: #D3573C;
}
.card-details__likes.is-liked::before, .card-details__likes.is-liked::after {
  background-color: #D3573C;
}

.likes {
  position: fixed;
  bottom: 0;
  right: 100px;
  width: 250px;
  z-index: 1;
  padding: 15px 22px;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
  background-color: #D3573C;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.likes-count {
  font-size: calc(var(--res-width) * 20 * var(--ratio-size));
  top: calc(var(--res-width) * -9.6 * var(--ratio-width));
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.7s;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: calc(var(--res-width) * 26 * var(--ratio-width));
}
.likes-count:before, .likes-count:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: calc(var(--res-width) * 12 * var(--ratio-width));
  height: calc(var(--res-width) * 19.2 * var(--ratio-width));
  background: #901C1C;
  border-radius: 100% 100% 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.likes-count:after {
  right: calc(var(--res-width) * 12 * var(--ratio-width));
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.likes p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*|||||||||||||||||||||| LAYOUT ||||||||||||||||||||||*/
/*====================== form ======================*/
.form {
  display: grid;
  gap: calc(var(--res-width) * 26 * var(--ratio-width));
}
.form label {
  font-size: calc(var(--res-width) * 36 * var(--ratio-size));
  padding-bottom: calc(var(--res-width) * 5 * var(--ratio-width));
}
.form input, .form textarea {
  font-size: calc(var(--res-width) * 36 * var(--ratio-size));
  width: 100%;
  height: calc(var(--res-width) * 68 * var(--ratio-width));
  border-radius: 5px;
  border: none;
}
.form textarea {
  resize: none;
  min-height: calc(var(--res-width) * 170 * var(--ratio-width));
}
.form button[type=submit] {
  color: #FFF;
  background-color: #901C1C;
  font-size: calc(var(--res-width) * 18 * var(--ratio-size));
  width: calc(var(--res-width) * 170 * var(--ratio-width));
  height: calc(var(--res-width) * 69 * var(--ratio-width));
  border-radius: 5px;
}
.form-group[data-error] {
  margin-bottom: calc(var(--res-width) * 27 * var(--ratio-width));
}
.form-group[data-error]::after {
  position: absolute;
  padding-top: calc(var(--res-width) * 7 * var(--ratio-width));
  content: attr(data-error);
  font-size: calc(var(--res-width) * 30 * var(--ratio-size));
  font-family: "Roboto";
  color: rgb(194, 21, 21);
  display: block;
  line-height: calc(var(--res-width) * 30 * var(--ratio-width));
  opacity: 0;
  transition: 0.3s;
}
.form-group[data-error-visible=true]::after {
  opacity: 1;
}
.form-group[data-error-visible=true] input, .form-group[data-error-visible=true] textarea {
  border: calc(var(--res-width) * 6 * var(--ratio-width)) solid rgb(194, 21, 21);
}

/*====================== header ======================*/
head address {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--res-width) * 90 * var(--ratio-width));
  margin: calc(var(--res-width) * 30 * var(--ratio-width)) calc(var(--res-width) * 100 * var(--ratio-width));
}
header h1 {
  color: #901C1C;
  font-size: calc(var(--res-width) * 36 * var(--ratio-size));
}

.logo {
  height: calc(var(--res-width) * 40 * var(--ratio-width));
}

/*====================== home ======================*/
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}
@media screen and (max-width: 600px) {
  .photographer_section {
    grid-template-columns: 1fr;
  }
}
.photographer-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.photographer-article__name {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
}
.photographer-article__picture-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photographer-article__location {
  color: #901C1C;
  font-weight: 500;
}
.photographer-article__tagline {
  font-size: 0.75em;
  font-weight: 500;
}
.photographer-article__price {
  font-size: 0.75em;
  font-weight: 500;
  color: #525252;
}

/*====================== modal ======================*/
.modal {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;
  width: 100vw;
  height: 100vh;
  border: 0;
}
.modal.is-open {
  display: flex;
}

/*=== modal-galery ===*/
.modal-galery button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.modal-galery__arrow {
  width: calc(var(--res-width) * 50 * var(--ratio-size));
  height: calc(var(--res-width) * 50 * var(--ratio-size));
  font-size: calc(var(--res-width) * 78 * var(--ratio-size));
  line-height: calc(var(--res-width) * 42 * var(--ratio-size));
  font-weight: 700;
  color: #901C1C;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-inline: calc(var(--res-width) * 35 * var(--ratio-size));
}
.modal-galery__figure {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  width: calc(var(--res-width) * 1060 * var(--ratio-width));
  max-width: calc(var(--res-height) * 1060);
  height: calc(var(--res-height) * 1024);
  max-height: calc(var(--res-width) * 1024 * var(--ratio-width));
  padding-top: 5.9%;
  padding-inline: calc(var(--res-width) * 10 * var(--ratio-width));
}
.modal-galery__figure img, .modal-galery__figure video {
  max-height: 83.55%;
  border-radius: 5px;
  object-fit: contain;
}
.modal-galery__close-btn {
  margin-bottom: calc(var(--res-width) * 369 * var(--ratio-width));
  margin-inline-start: -40px;
  background: transparent;
  border: 0;
  color: #901C1C;
  width: calc(var(--res-width) * 70 * var(--ratio-size));
  height: calc(var(--res-width) * 70 * var(--ratio-size));
  font-size: calc(var(--res-width) * 55 * var(--ratio-size));
  line-height: calc(var(--res-width) * 42 * var(--ratio-size));
  cursor: pointer;
}
.modal-galery img, .modal-galery video {
  transition: box-shadow 0.5s;
  padding: calc(var(--res-width) * 10 * var(--ratio-width));
}
.modal-galery img:hover, .modal-galery video:hover {
  box-shadow: rgba(144, 28, 28, 0.4) 0px 0px 0px 3px, rgba(144, 28, 28, 0.65) 0px 6px 8px -2px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.modal-galery__arrow, .modal-galery__close-btn {
  transition: box-shadow 0.5s;
}
.modal-galery__arrow:focus, .modal-galery__arrow:hover, .modal-galery__close-btn:focus, .modal-galery__close-btn:hover {
  color: #D3573C;
}
.modal-galery__title {
  font-size: calc(var(--res-width) * 24 * var(--ratio-size));
  color: #901C1C;
  max-height: 16.45%;
  margin-top: calc(var(--res-width) * 15 * var(--ratio-width));
  transition: box-shadow 0.7s;
  width: max-content;
}

/*=== contact-modal ===*/
.contact-modal {
  background-color: rgba(196, 196, 196, 0.4);
  overflow-y: auto;
  margin-block: auto;
}
.contact-modal__content {
  position: relative;
  min-width: calc(var(--res-width) * 669 * var(--ratio-width));
  max-width: calc(var(--res-height) * 669);
  max-height: calc(var(--res-width) * 1080 * var(--ratio-width));
  padding: calc(var(--res-width) * 35 * var(--ratio-width));
  background-color: #DB8876;
  border-radius: 5px;
}
.contact-modal__title {
  font-size: calc(var(--res-width) * 64 * var(--ratio-size));
  font-weight: 400;
}
.contact-modal__close-btn {
  position: absolute;
  top: calc(var(--res-width) * 35 * var(--ratio-width));
  right: calc(var(--res-width) * 35 * var(--ratio-width));
  margin-bottom: calc(var(--res-width) * 369 * var(--ratio-width));
  margin-inline-start: -40px;
  background: transparent;
  border: 0;
  color: #FFF;
  width: calc(var(--res-width) * 42 * var(--ratio-size));
  height: calc(var(--res-width) * 42 * var(--ratio-size));
  font-size: calc(var(--res-width) * 55 * var(--ratio-size));
  line-height: calc(var(--res-width) * 42 * var(--ratio-size));
  cursor: pointer;
}

/*====================== photographer ======================*/
.photographer {
  width: 100%;
  height: 100%;
  padding-inline: calc(var(--res-width) * 100 * var(--ratio-width));
}
.photographer-header {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-block: 20px;
}
.photographer-header__picture {
  border-radius: 50%;
  object-fit: cover;
  height: calc(var(--res-width) * 200 * var(--ratio-width));
  width: calc(var(--res-width) * 200 * var(--ratio-width));
}
.photographer-header__profile, .photographer-header__profile-details {
  display: grid;
  gap: 19px;
}
.photographer-header__profile-name {
  font-size: calc(var(--res-width) * 64 * var(--ratio-size));
  font-weight: normal;
  color: #D3573C;
}
.photographer-header__profile-details-location {
  color: #901C1C;
  font-size: calc(var(--res-width) * 24 * var(--ratio-size));
}
.photographer-header__profile-details-tagline {
  color: #525252;
  font-size: calc(var(--res-width) * 18 * var(--ratio-size));
}

/*====================== galery ======================*/
.galery-section {
  margin-block: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--res-width) * 95 * var(--ratio-width));
  row-gap: calc(var(--res-width) * 20 * var(--ratio-width));
  justify-content: flex-start;
}

footer address {
  opacity: 0;
}
footer address:focus {
  opacity: 1;
}

/*|||||||||||||||||||||| SCREENS ||||||||||||||||||||||*/
@media screen and (min-width: 769px) {
  :root {
    --ratio-size: 1;
    --ratio-width: 1;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --ratio-size: 1.5;
    --ratio-width: 1.5;
  }
  .photographer-header {
    flex-direction: column;
    gap: 2rem;
  }
  .photographer-header span {
    text-align: center;
  }
  .photographer-header .btn, .photographer-header__profile {
    order: 1;
  }
  .galery-section {
    gap: 0;
    justify-content: space-between;
  }
  .modal-galery__figure {
    width: calc(var(--res-width) * 1050);
    max-height: calc(var(--res-width) * 1024);
  }
}
@media screen and (max-height: 72.14vw) {
  .contact-modal {
    padding-block: 2vw;
    align-items: flex-start;
    max-height: min-content;
  }
}
@media screen and (max-width: 425px) {
  :root {
    --ratio-size: 2;
    --ratio-width: 2;
  }
  .card {
    width: calc(100vw - var(--res-width) * 100 * var(--ratio-width) * 2);
    height: calc(100vw - var(--res-width) * 100 * var(--ratio-width) * 2);
  }
}

/*# sourceMappingURL=style.css.map */
