//|||||||||||||||||||||| ABSTRACT ||||||||||||||||||||||*/
@import './abstract/variables';
@import './abstract/functions';
@import './abstract/keyframes';

/*|||||||||||||||||||||| BASE ||||||||||||||||||||||*/
@import './base/typography';
@import './base/reset';

/*|||||||||||||||||||||| COMPONENTS ||||||||||||||||||||||*/
@import './components/buttons';
@import './components/selects';
@import './components/card';

/*|||||||||||||||||||||| LAYOUT ||||||||||||||||||||||*/
@import './layouts/form';
@import './layouts/header';
@import './layouts/home';
@import './layouts/modal';
@import './layouts/photographer';
@import './layouts/galery';
@import './layouts/footer';

/*|||||||||||||||||||||| SCREENS ||||||||||||||||||||||*/
@import './screens/laptop';
@import './screens/tablet';
@import './screens/mobile';