//====================== keyframes ======================//
@keyframes focused {
    0% {
        outline-color: $clr-secondary;
        outline-offset: 2px;
    }
    50% {
        outline-offset: 7px;
        outline-color: $clr-primary;
    }
    100% {    
        outline-color: $clr-secondary;
        outline-offset: 2px;
    }
}