//====================== variables ======================
//####### Colors #######*
$clr-primary: #901C1C;
$clr-secondary: #D3573C;
$clr-darkgrey: #525252;
$clr-lightgrey: #FAFAFA; 
$clr-black: #000; 
$clr-white: #FFF; 