.btn {
    font-size: resSize(20);
    font-weight: 700;
    color: $clr-white;
    width: resWidth(11);
    width: resWidth(170);
    height: resWidth(70);
    border: none;
    background-color: $clr-primary;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    transition: box-shadow .5s;  
    &:focus, &:hover {
        box-shadow: rgba($clr-primary, 0.4) 0 1px, rgba($clr-secondary, 0.4) 0 5px;
    }
    &:focus {   
        animation: btn-focused 1s linear infinite;                
    }  
}