.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: resWidth(350);
    height: resWidth(350);
    &-header {
        position: relative;
        width: 100%;
        height: 85.71%;
        border-radius: 5px;
        & img, & video {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
            transition: box-shadow .5s;  
            &:hover {
                box-shadow: rgba($clr-primary, 0.4) 0px 0px 0px 3px, rgba($clr-primary, 0.65) 0px 6px 8px -2px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            }
        }
        & video::-webkit-media-controls {
            display: none;
        }
    }
    &-header.video {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        
        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 0;
            height: 10px;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 34px solid rgba($clr-white, 0.7);
            top: 42.85%;
            left: 42.85%;
        }
    }
    &-details {
        height: 3.47vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $clr-primary;
        font-size: resSize(24);
        &__title {
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
        }
        &__likes {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 20%;
            transition: all .7s;
            cursor: pointer;
            padding-right: resWidth(26);
            &:before, &:after { 
                position: absolute; 
                content: ""; 
                right: 0; 
                top: 20%; 
                width: resWidth(12); 
                height:resWidth(19.2); 
                background: $clr-primary; 
                border-radius: 100% 100% 0 0; 
                transform: rotate(-45deg); 
                transform-origin: 0 100%; 
            } 
            &:hover::before, &:hover::after {
                background-color: $clr-secondary;
            }
            &:after { 
                right: resWidth(12); 
                transform: rotate(45deg); 
                transform-origin :100% 100%; 
            }
            &.is-liked {
                color: $clr-secondary;
                &::before, &::after {
                    background-color: $clr-secondary;
                }
            }
            &:hover {
                color: $clr-secondary;
            }
        }
    }
}