.select {
  transition: box-shadow .5s;
  &:hover {
    box-shadow: rgba($clr-primary, 0.4) 0 1px, rgba($clr-secondary, 0.4) 0 5px;
  } 
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: resWidth(269);
  height:resWidth(69);

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: resWidth(29.5);
    right: resWidth(18);
    width: resWidth(8);
    height: resWidth(8);
    border-top: 3px solid $clr-white;
    border-right: 3px solid $clr-white;
    transform: rotate(-225deg);
    transition: 0.5s;
  }
  &.is-open::after {
    top: resWidth(29);
    right: resWidth(18);
    transform: rotate(-45deg);
  }
  button {
    cursor: pointer;
    font-size: resSize(18);
    font-weight: 700;
    line-height: resWidth(23);
    padding: resWidth(14) resWidth(10);
    text-align: left;
    border: 0;
  }
}
.select-label {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: resSize(18);
  width: resWidth(74);
  line-height: resWidth(23);
  font-weight: 700;
  text-align: center;
}
.select {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $clr-primary;
  display: none;
  align-items: center;
  color: $clr-white;
  min-height: resWidth(69);
  width: resWidth(170);
  padding: resWidth(10);
  border-radius: 5px;
  z-index: 1;
  button {
    cursor: pointer;
    color: $clr-white;
    background-color: transparent;
    border: 0;
  }
  &[aria-expanded=true] {
    display: block;
  }
}
.current-option {
  width: resWidth(170);
  height: 100%;
  color: $clr-white;
  background-color: $clr-primary;
  padding-left: resWidth(20);
  border-radius: 5px;
  transition: box-shadow .5s;
  &:hover {
    box-shadow: rgba($clr-primary, 0.4) 0 1px, rgba($clr-secondary, 0.4) 0 5px;
  } 
}
.option{
  width: 100%;
  &:nth-child(n+2) {
    border-top: 1px solid $clr-white;
  }
} 
.option:hover, .option:focus {
  font-weight: 900;
  outline: none;
  text-decoration: underline;
}