
.select *:focus {
  outline: none;
  text-decoration: underline;
  text-shadow: 0 0 0.5px $clr-white;
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 269px;
  height: 69px;
}
.select-label {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 74px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
}
.select {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $clr-primary;
  display: flex;
  align-items: center;
  color: $clr-white;
  min-height: 69px;
  width: 170px;
  padding: 9px 10px 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 29.5px;
    right: 18px;
    width: 8px;
    height: 8px;
    border-top: 3px solid $clr-white;
    border-right: 3px solid $clr-white;
    transform: rotate(-225deg);
    transition: 0.5s;
  }
  &[aria-expanded=true] {
    box-shadow: 0 1px 1px rgba($clr-black,.12), 0 2px 2px rgba($clr-black, 0.12), 0 4px 4px rgba($clr-black, 0.12), 0 8px 8px rgba($clr-black, 0.12), 0 16px 16px rgba($clr-black, 0.12);
    height: 170px;
    &::after {
      top: 29px;
      right: 18px;
      transform: rotate(-45deg);
    }
  }
  
}
.optgroup {
  display: none;
  width: 100%;
  height: 100%;
  list-style: none;
}
.option, .current-option{
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  padding: 14px 10px;
}
.option:nth-child(n+2) {
  border-top: 1px solid $clr-white;
} 
.option:hover, .option:focus {
  outline: none;
  text-decoration: underline;
}