/*====================== form ======================*/
.form {
    display: grid;
    gap: resWidth(26);
    label {
        font-size: resSize(36);
        padding-bottom: resWidth(5);
    }
    input, textarea {
        font-size: resSize(36);
        width: 100%;
        height: resWidth(68);
        border-radius: 5px;
        border: none;
    }
    textarea {
        resize: none;
        min-height: resWidth(170);
    }
    button[type=submit] {
        color: $clr-white;
        background-color: #901C1C;
        font-size: resSize(18);
        width: resWidth(170);
        height: resWidth(69);
        border-radius: 5px;
    }
    &-group {
        &[data-error]::after {
            padding-top: resWidth(20);
            content: attr(data-error);
            font-size: resSize(30);
            font-family: "Roboto";
            color: rgb(194, 21, 21);
            display: block;
            line-height: resWidth(30);
            opacity: 0;
            transition: 0.3s;
        }
        &[data-error-visible=true]::after {
            opacity: 1;
        }
        &[data-error-visible=true] input, &[data-error-visible=true] textarea {
            border: resWidth(6) solid rgb(194, 21, 21);
        }
    }
}