/*====================== form ======================*/
.form {
    display: grid;
    gap: resWidth(26);
    label {
        font-size: resSize(36);
        padding-bottom: resWidth(5);
    }
    input, textarea {
        font-size: resSize(36);
        width: 100%;
        height: resWidth(68);
        border-radius: 5px;
        border: none;
    }
    textarea {
        min-height: resWidth(170);
    }
    button[type=submit] {
        color: $clr-white;
        background-color: #901C1C;
        font-size: resSize(18);
        width: resWidth(170);
        height: resWidth(69);
        border-radius: 5px;
    }
}