/*====================== galery ======================*/
.galery-section {
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: resWidth(95);
    row-gap: resWidth(20);
    justify-content: flex-start;
}