/*====================== header ======================*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: resWidth(90);
    margin: resWidth(30) resWidth(100);
    h1 {
        color: $clr-primary;
        font-size: resSize(36);
    }
}
.logo {
    height: resWidth(40);
}