/*====================== modal ======================*/
.modal {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $clr-white;
    width: 100vw;
    height: 100vh;
    border: 0;
    &.is-open {
        display: flex;
    }
}
/*=== modal-galery ===*/
.modal-galery {
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: resSize(78);
        width: resSize(30);
        height: resSize(48);
        font-weight: 700;
        color: $clr-primary;
        cursor: pointer; 
        padding-inline: resSize(35);
    }
    &__figure {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        width: resWidth(1060);
        max-width: resHeight(1060);
        height: resHeight(1024);
        max-height: resWidth(1024);
        padding-top: 5.9%;
        padding-inline: resWidth(10);
        img, video {
            max-height: 83.55%;
            border-radius: 5px;
            object-fit: contain;
            //object-fit: cover;
            //object-position: 100% 36%;
        }
    }
    &__close-btn {
        margin-bottom: resWidth(369);
        margin-inline-start: -40px;
        background: transparent;
        border: 0;
        color: $clr-primary;
        width:  resSize(42);;
        height:  resSize(42);;
        font-size:  resSize(55);;
        line-height: resSize(42);
        cursor: pointer;
    }
    img, video {
        transition: box-shadow .5s;  
        padding: resWidth(10px);
        &:hover {
            box-shadow: rgba($clr-primary, 0.4) 0px 0px 0px 3px, rgba($clr-primary, 0.65) 0px 6px 8px -2px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
    }
    &__arrow, &__close-btn {
        transition: box-shadow .5s;  
        &:focus, &:hover {
            color: $clr-secondary;
        }
    }
    &__title {
        font-size: resSize(24);
        color: $clr-primary;
        max-height: 16.45%;
        margin-top: resWidth(15);
        transition: box-shadow .7s;
        width: max-content;
    }
}

/*=== contact-modal ===*/
.contact-modal {
    background-color: rgba(#C4C4C4, 0.4);
    overflow-y: auto;
    margin-block: auto;
    &__content {
        position: relative;
        min-width: resWidth(669);
        max-width: resHeight(669);
        max-height: resWidth(1010);

        padding: resWidth(35);
        background-color: #DB8876;
        border-radius: 5px;
    }
    &__title {
        font-size: resSize(64);
        font-weight: 400;
    }
    &__close-btn {
        position: absolute;
        top: resWidth(35);
        right: resWidth(35);
        margin-bottom: resWidth(369);
        margin-inline-start: -40px;
        background: transparent;
        border: 0;
        color: $clr-white;
        width:  resSize(42);;
        height:  resSize(42);;
        font-size:  resSize(55);;
        line-height: resSize(42);
        cursor: pointer;
    }
}