/*====================== modal ======================*/
/*.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
.modal-galery {

}*/

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $clr-white;
    width: 100vw;
    height: 100vh;
    border: 0;
    &.is-open {
        display: flex;
    }
}

.modal-galery {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: resSize(78);
        width: resSize(30);
        height: resSize(48);
        font-weight: 700;
        color: $clr-primary;
        cursor: pointer; 
        padding-inline: resSize(35);
    }
    &__figure {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        width: resWidth(1050);
        max-width: resHeight(1050);
        height: resHeight(1024);
        max-height: resWidth(1024);
        padding-top: 5.9%;
        img, video {
            max-height: 83.55%;
            border-radius: 5px;
            object-fit: contain;
            //object-fit: cover;
            //object-position: 100% 36%;
            
        }
    }
    &__close-btn {
        position: absolute;
        top: 0;
        right: resWidth(7);
        margin-top:  resWidth(77);;
        width: 50px;
        height: 50px;
        background: transparent;
        border: 0;
        color: $clr-primary;
        width:  resSize(42);;
        height:  resSize(42);;
        font-size:  resSize(55);;
        line-height: resSize(42);
        cursor: pointer;
    }
    &__title {
        font-size: resSize(24);
        color: $clr-primary;
        max-height: 16.45%;
    }
}
