/*====================== photographer ======================*/
.photographer {
    margin-inline: 6.94vw;
    &-header {
        background-color: $clr-lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        margin-block: 20px;
        &__picture {
            border-radius: 50%;
            object-fit: cover;
            height: 200px;
            width: 200px;
        }
        &__profile, &__profile-details {
            display: grid;
            gap: 19px;
        }
        &__profile-name {
            font-size: 3em;
            font-weight: normal;
            color: $clr-secondary;
        }
        &__profile-details-location {
            color: $clr-primary;
            font-size: 24px;
        }
        &__profile-details-tagline {
            color: $clr-darkgrey;
        }
    }
}
@media screen and (max-width: 1080px) {
    .photographer-header {
        flex-direction: column;
        gap: 2rem;
        span {
            text-align: center;
        }
        .btn, &__profile {
            order: 1;
        }
    }
}
/*====================== galery ======================*/
.galery-section {
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.39vw;
    justify-content: space-between;
}