/*====================== photographer ======================*/
.photographer {
    width: 100%;
    height: 100%;
    padding-inline: resWidth(100);
    &-header {
        background-color: $clr-lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        margin-block: 20px;
        &__picture {
            border-radius: 50%;
            object-fit: cover;
            height: resWidth(200);
            width: resWidth(200);
        }
        &__profile, &__profile-details {
            display: grid;
            gap: 19px;
        }
        &__profile-name, &__profile-details-location, &__profile-details-tagline{
            outline: 0;
            transition: box-shadow .7s;
            &:focus {
                animation: text-focused 1s linear infinite;                
            }
        }
        &__profile-name {
            font-size: resSize(64);
            font-weight: normal;
            color: $clr-secondary;
        }
        &__profile-details-location {
            color: $clr-primary;
            font-size: resSize(24);
        }
        &__profile-details-tagline {
            color: $clr-darkgrey;
            font-size: resSize(18);
        }
    }
}